[init]
	defaultBranch = main
[user]
	email = guilherme.gg1@hotmail.com
	name = guigallo
[code]
	editor = nvim
[pull]
	rebase = true
[alias]
	root = rev-parse --show-toplevel
[fetch]
	prune = true
[color]
	ui = auto
