[alias]
	root = rev-parse --show-toplevel
  graph = log --graph --pretty=oneline

[code]
	editor = nvim

[color]
	ui = auto

[core]
  pager = delta

[delta]
  light = false
  line-numbers = true
  navigate = true # use n and N to move between diff sections

[diff]
  colorMoved = default

[fetch]
	prune = true

[init]
	defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictstyle = diff3

[pull]
	rebase = true

[safe]
	directory = /opt/flutter

[user]
	email = guilherme.gg1@hotmail.com
	name = guigallo
