#include ".config/nord"

!-- Xft settings -- !
/* Xft.dpi:        96 */
/* Xft.antialias:  true */
/* Xft.rgba:       rgb */
/* Xft.hinting:    true */
/* Xft.hintstyle:  hintfull */

! -- Fonts -- !
URxvt.font:xft:FiraCode Nerd Font:size=10
/* URxvt.depth:                      32 */
/* URxvt*scrollBar:                  false */
/* URxvt*mouseWheelScrollPage:       false */
/* URxvt*cursorBlink:                true */
/* URxvt*saveLines:                  5000 */
/* URxvt*internalBorder: 5 */
/* URxvt*geometry: 70x19 */
